.contact-field {
  margin: 1rem 0;
}

.contact-label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

.contact-name,
.contact-phone,
.contact-icon {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 2rem;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.contact-icon-select {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: no-repeat center center;
  background-size: contain;
}